{% extends 'main.html'%}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
    {% csrf_token %}
    
    <label>Username: </label>
    <input type="text"  name="username" placeholder="enter username"/>

    <label>Password: </label>
    <input type="password"  name="password" placeholder="enter password"/>
    <!--Feito form de login agr é na views-->


    <input type="submit" value="login" />
    </form>

    <p>Haven't signup yet?</p>
    <a href="{%  url 'register' %}">Sign up</a>
</div>

{% else %}
<div>
    <form method="POST" action="">
    {% csrf_token %}
    
    {{form.as_p}}

    <input type="submit" value="register" />
    </form>

    <p>Already signed?</p>
    <a href="{%  url 'login' %}">login</a>
</div>
{% endif %}


{% endblock %}